@model IEnumerable<WebLinkList.WebMvc.Models.CategoryViewModel>

<section>
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewData["Title"]</div>
        <!--
        <div class="panel-body">            
        </div>
            -->
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item"><a target="_blank" href="@Url.Action("Category","Home", new { Id = @item.CategoryId})"><span>@item.Name - </span><span class="badge">@item.CurrentCount</span></a></li>
            }
        </ul>

    </div>
</section>